appdirs==1.4.3
beautifulsoup4==4.5.3
bleach==2.0.0
chardet==2.3.0
Django==1.10.6
django-contrib-comments==1.8.0
filebrowser-safe==0.4.7
future==0.16.0
grappelli-safe==0.4.6
html5lib==0.999999999
Mezzanine==4.2.3
oauthlib==2.0.2
olefile==0.44
packaging==16.8
Pillow==4.0.0
pyparsing==2.2.0
pytz==2016.10
requests==2.13.0
requests-oauthlib==0.8.0
six==1.10.0
tzlocal==1.3
webencodings==0.5
