{% extends "pages/page.html" %}
{% load hometag %}
{% load mezzanine_tags %}
{% compress js %}
    {% block extra_js %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    {% endblock %}
{% endcompress %}
{% block main %}{{ block.super }}
    {% get_datalist_tag as DatasetList %}
    {% get_recentVisualization_tag as recentVisualizationlist %}
    {% get_recentDataset_tag as recentDatasetList %}
    <div class="container section-page">
        <div class="col-md-8">
            <span class="form-label">Dataset Filter</span>
            <form class="form-inline filter-form " action="data_filter" method="GET">
                <div class="form-group data-filter">
                <select name="type"  class="form-control ">
                    <option selected value="None">Catagory Type</option>
                    <option value="Voters">Voters</option>
                    <option value="Candidates">Candidates</option>
                    <option value="Federal">Federal</option>
                    <option value="Political Parties">Political Parties</option>
                    <option value="Result">Results</option>
                    <option value="Others">Others</option>

                </select>
                <select name="province"  class="form-control" id="provinceId" onchange="javascript:onProvinceChange()">
                    <option selected value="None">Province</option>
                    <option value='1'> 1</option>
                    <option value='2'> 2</option>
                    <option value='3'> 3</option>
                    <option value='4'> 4</option>
                    <option value='5'> 5</option>
                    <option value='6'> 6</option>
                    <option value='7'> 7</option>
                </select>
                <select name="district"  class="form-control"  id="districtId">
                    <option selected value="None">District</option>
                </select>
                <button type="submit" class="btn btn-default">Submit</button>
                </div>
                <input type="text" id="dataset-search"  class="form-control" onkeyup="myFunction()" placeholder="Search Dataset">

            </form>



            <table  id="data-table" class="table table-striped">
                <thead class="text-center">
                <tr>
                    <th>Dataset Title</th>
                    <th>Download</th>
                    <th>Created Date</th>
                </tr>
                </thead>
                <tbody>
                {% for list in DatasetList %}
                    <tr>
                        <td><a href="/data-preview/{{ list.id }}">{{ list.Data_Title }}</a></td>
                        <td class="text-center"><a href="/data-preview/{{ list.id }}"><i class="fa fa-download"></i></a></td>
                        <td>{{ list.added |date }}</td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-4 sidebar">
            {% include "partials/_sidebar.html" %}
        </div>
    </div>
    <script>
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("dataset-search");
  filter = input.value.toUpperCase();
  table = document.getElementById("data-table");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}


function onProvinceChange() {
    var countryStateArray = [
        [
            '1', [
            ['None', 'District'],
            ['Bhojpur ', 'Bhojpur '],
            ['Dhankuta ', 'Dhankuta '],
            [' Ilam ', ' Ilam '],
            ['Jhapa ', 'Jhapa '],
            ['Khotang ', 'Khotang '],
            ['Morang ', ' Morang '],
            ['Okhaldhunga ', 'Okhaldhunga '],
            ['Panchthar ', 'Panchthar '],
            ['Sankhuwasabha ', 'Sankhuwasabha '],
            ['Solukhumbu ', 'Solukhumbu '],
            ['Sunsari ', 'Sunsari '],
            ['Taplejung ', 'Taplejung '],
            ['Terhathum ', 'Terhathum '],
            ['Udayapur ', 'Udayapur '],


        ],],
        [
            '2', [
            ['None', 'District'],
            ['Bara', 'Bara '],
            ['Dhanusha', 'Dhanusha '],
            ['Mahottari', 'Mahottari '],
            ['Parsa', 'Parsa '],
            ['Rautahat', 'Rautahat '],
            ['Saptari', 'Saptari '],
            ['Sarlahi', 'Sarlahi '],
            ['Siraha', 'Siraha '],
        ],],
        [
            '3', [
             ['None', 'District'],
            ['Bhaktapur ', 'Bhaktapur '],
            ['Chitwan ', 'Chitwan '],
            ['Dhading ', 'Dhading '],
            ['Dolakha ', 'Dolakha '],
            ['Kathmandu ', 'Kathmandu '],
            ['Kavrepalanchok ', 'Kavrepalanchok '],
            ['Lalitpur ', 'Lalitpur '],
            ['Makwanpur ', 'Makwanpur '],
            ['Nuwakot ', 'Nuwakot '],
            ['Ramechhap ', 'Ramechhap '],
            ['Rasuwa ', 'Rasuwa '],
            ['Sindhuli ', 'Sindhuli '],
            ['Sindhupalchok ', 'Sindhupalchok '],
        ],],
        [
            '4', [
            ['Baglung', 'Baglung'],
            ['Gorkha ', 'Gorkha '],
            ['Kaski ', 'Kaski '],
            ['Lamjung', 'Lamjung'],
            ['Manang ', 'Manang '],
            ['Mustang', 'Mustang'],
            ['Myagdi ', 'Myagdi '],
            ['Nawalparasi', 'Nawalparasi'],
        ],],
        [
            '5', [
             ['None', 'District'],
            ['Arghakhanchi', 'Arghakhanchi'],
            ['Baglung  ', 'Baglung  '],
            ['Banke ', 'Banke '],
            ['Bardiya ', 'Bardiya '],
            ['Dang Deukhur', 'Dang Deukhur'],
            ['Gulmi ', 'Gulmi '],
            ['Kapilvastu ', 'Kapilvastu '],
            ['Nawalparasi ', 'Nawalparasi '],
            ['Palpa ', 'Palpa '],
            ['Pyuthan ', 'Pyuthan '],
            ['Rolpa ', 'Rolpa '],
            ['Rukum ', 'Rukum '],
            ['Rupandehi ', 'Rupandehi '],
        ],],
        [
            '6', [
             ['None', 'District'],
            ['Dailekh ', 'Dailekh '],
            ['Dolpa ', 'Dolpa '],
            ['Humla ', 'Humla '],
            ['Jajarkot ', 'Jajarkot '],
            ['Jumla ', 'Jumla '],
            ['Kalikot ', 'Kalikot '],
            ['Mugu ', 'Mugu '],
            ['Rukum  ', 'Rukum  '],
            ['Salyan ', 'Salyan '],
            ['Surkhet ', 'Surkhet '],
        ],],
        [
            '7', [
            ['None', 'District'],
            ['Achham ', 'Achham '],
            ['Baitadi ', 'Baitadi '],
            ['Bajhang ', 'Bajhang '],
            ['Bajura ', 'Bajura '],
            ['Dadeldhura ', 'Dadeldhura '],
            ['Darchula ', 'Darchula '],
            ['Doti ', 'Doti '],
            ['Kailali ', 'Kailali '],
            ['Kanchanpur ', 'Kanchanpur '],
        ],],
    ];
    var countryObj = document.getElementById('provinceId');
    var stateObj = document.getElementById('districtId');

    if (countryObj && stateObj) {
        var stateList = [
            ['XX', 'None']
        ];

        var curCountry = countryObj.options[countryObj.selectedIndex].value;
        for (var i = 0; i < countryStateArray.length; i++) {
            if (curCountry == countryStateArray[i][0]) {
                stateList = countryStateArray[i][1];
            }
        }
        if (stateList.length < 2) stateObj.style.display = 'none';
        else stateObj.style.display = 'inline';
        var selectedState;
        for (var i = 0; i < stateObj.length; i++) {
            if (stateObj.options[i].selected === true) {
                selectedState = stateObj.options[i].value;
            }
        }
        stateObj.options.length = 0;
        for (var i = 0; i < stateList.length; i++) {
            stateObj.options[i] = new Option(stateList[i][1], stateList[i][0]);
            if (stateList[i][0] == selectedState) {
                stateObj.options[i].selected = true;

            }
        }
    }
}


</script>
{% endblock %}
