{% extends "pages/page.html" %}
{% load hometag %}
{% load mezzanine_tags %}
{% compress js %}
    {% block extra_js %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    {% endblock %}
{% endcompress %}
{% block main %}{{ block.super }}
    {% get_datalist_tag as DatasetList %}
    {% get_recentVisualization_tag as recentVisualizationlist %}
    {% get_recentDataset_tag as recentDatasetList %}
    <div class="container section-page">
        <div class="col-md-8">
            <input type="text" id="dataset-search"  onkeyup="myFunction()" placeholder="Search Dataset">
            <table  id="data-table" class="table table-striped">
                <thead>
                <tr>
                    <th>Dataset Title</th>
                    <th>Download</th>
                    <th>Created Date</th>
                </tr>
                </thead>
                <tbody>
                {% for list in DatasetList %}
                    <tr>
                        <td><a href="/data-preview/{{ list.id }}">{{ list.Data_Title }}</a></td>
                        <td><a href="/data-preview/{{ list.id }}" class="btn btn-primary active">⇩</a></td>
                        <td>{{ list.added |date }}</td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-4 sidebar">
            {% include "partials/_sidebar.html" %}
        </div>
    </div>
    <script>
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("dataset-search");
  filter = input.value.toUpperCase();
  table = document.getElementById("data-table");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
{% endblock %}
