{% extends "pages/page.html" %}

{% load mezzanine_tags hometag%}
{% compress js %}
    {% block extra_js %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    {% endblock %}
{% endcompress %}

{% block main %}{{ block.super }}
<div class="container section-page">
    <div class="col-md-8">
  {% get_recentVisualization_tag as recentVisualizationlist %}
    {% get_recentDataset_tag as recentDatasetList %}
{% editable page.richtextpage.content %}
{{ page.richtextpage.content|richtext_filters|safe }}
{% endeditable %}
    </div>
     <div class="col-md-3 sidebar">
            <h3>Recent Added Visulization</h3>
            <hr>
            {% for list in recentVisualizationlist reversed%}
                <li><a href="/visualization">{{ list.Data_Title }}</a></li>
            {% endfor %}
            <hr>
            <hr>
            <h3>Recent Added Data</h3>
            <hr>
            {% for list in recentDatasetList reversed %}
                <li><a href="{{ list.GitHub_Link }}" download>{{ list.Data_Title }}</a></li>
            {% endfor %}
        </div>

</div>
    </div>
{% endblock %}
{% block footer_js %}{{ block.super }}
{% endblock %}