/**
mobile friendly css fixes
 **/

@media screen and (max-width: 375px){
  .navbar-brand img{
    width: 250px;
    height: auto;
  }
}

@media screen and (max-width: 320px){
  .navbar-brand img{
    width: 230px;
    height: auto;
  }
}

@media screen and (max-width: 768px){
  .sidebar{
    border: none;
    padding-left: 2%;
    margin-bottom: 0;
  }

  .sidebar {
    aside{
      margin-top: 15px;
      background-color: #ffffff;
      padding: 10px 0 0 10px;
    }
  }
}