@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

.navbar-brand {
  img {
    height: 70px;
  }
}

.jumbotron {
  margin-top: 100px;
  min-height: 601px;
  padding: 0 !important;
}

.index-box {
  background-image: url("/static/img/o.png");
  min-height: 200px;
  color: rgb(255, 255, 255);
  margin-top: -120px;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  font-family: "Arial Narrow";

  h4 {
    font-weight: 600;

  }

  h1 {
    margin-top: 4px;
    margin-bottom: 5px;
    font-weight: 700;
    float: left;
  }
  span {
    font-weight: 600;

  }
  hr {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0;
    padding: 0 30px;
    border-top: 3px solid #eeeeee;
  }

}

.info-box {
  h2 {
    margin-top: 18px;
    margin-bottom: 11px;

    img {
      height: 40px;
      padding-right: 25px;
      margin-top: -10px;
    }
  }
}

.section-small {
  background-color: #ff5252;
  color: #fff;
  padding: 130px 0px 60px 0px;
  margin-top: -130px;

  h3 {
    font-weight: 600;
    color: #f5f5f5;
  }
  p {
    padding: 10px 25% !important;
  }

  a.btn-link {
    background-color: #005d9b;
    color: #fff;
    padding: 8px 15px;
    border-radius: 34px;

    &:hover {

      text-decoration: none;
      background-color: #646464;
    }
  }

}

.section-larger {
  padding: 60px 0;
  background-color: #f6f6f6;

}

.small-box {
  min-height: 300px;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #f3f3f3;
  overflow: hidden;
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 0px 0px 3px 20px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;

  &:hover,
  &:focus {
    -webkit-box-shadow: 0 0 21px rgba(208, 208, 208, 0.54);
    box-shadow: 0 0 21px rgba(208, 208, 208, 0.54);
    border-color: transparent;
  }
  .text {
    padding: 10px;
    color: #444;
    h3 {
      color: #444;
      border-bottom: solid 3px #ff5252;
      padding: 5px;
      font-size: 18px;
      font-weight: 400;
      margin: 0 0 10px
    }
    li {
      padding: 2px 10px 10px 9px;
      background-color: #fafafa;
      margin-bottom: 10px;
      border-left: 4px solid #0071bc;
      list-style: none !important;
      &:hover {

      }

    }

    li a img {
      float: right;

    }

  }

}

.section-page {
  margin-top: 140px;

}

.section-footer {
  color: #ffffff;
  min-height: 150px;
  padding: 30px 0;
  background-color: #646464;

}

.footer {
  color: #77f7f7;
  h5 {
    font-weight: 600;
  }
  p {
    font-size: 12px;
    color: #f7f7f7;
    margin-top: 20px;
    font-weight: 600

  }

}

img.footer-logo {
  height: 80px;

}

.sidebar {
  margin-bottom: 80px;
}

.district-label {
  margin-top: -30px;
  span {
    background: #ff5252;
    padding: 5px;
    font-size: 21px;

  }
}
