@import 'bootstrap';
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

$default-background-color: #f6f6f6;

.navbar-brand {
  img {
    height: 70px;
  }
}

.jumbotron {
  margin-top: 100px;
  min-height: 601px;
  padding: 0 !important;
}

.index-box {
  background-image: url('/static/img/o.png');
  min-height: 200px;
  color: rgb(255, 255, 255);
  margin-top: -120px;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  font-family: 'Arial Narrow';

  h4 {
    font-weight: 600;

  }

  h1 {
    margin-top: 4px;
    margin-bottom: 5px;
    font-weight: 700;
    float: left;
  }
  
  span {
    font-weight: 600;

  }
  
  hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    padding: 0 30px;
    border-top: 3px solid #eee;
  }

}

.info-box {
  h2 {
    margin-top: 18px;
    margin-bottom: 11px;

    img {
      height: 40px;
      padding-right: 25px;
      margin-top: -10px;
    }
  }
}

.section-small {
  background-color: #ff5252;
  color: #fff;
  padding: 130px 0 60px 0;
  margin-top: -130px;

  h3 {
    font-weight: 600;
    color: #f5f5f5;
  }

  p {
    padding: 10px 25% !important;
  }

  a.btn-link {
    background-color: #005d9b;
    color: #fff;
    padding: 8px 15px;
    border-radius: 34px;

    &:hover {

      text-decoration: none;
      background-color: #646464;
    }
  }

}

.section-larger {
  padding: 60px 0;
  background-color: #f6f6f6;
}

.small-box {
  min-height: 380px;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #f3f3f3;
  overflow: hidden;
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 0 0 3px 20px;
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  -ms-transition: all .3s ease 0s;
  transition: all .3s ease 0s;

  &:hover,
  &:focus {
    -webkit-box-shadow: 0 0 21px rgba(208, 208, 208, .54);
    box-shadow: 0 0 21px rgba(208, 208, 208, .54);
    border-color: transparent;
  }
  .text {
    padding: 10px;
    color: #444;
    h3 {
      color: #444;
      border-bottom: solid 3px #ff5252;
      padding: 5px;
      font-size: 18px;
      font-weight: 400;
      margin: 0 0 10px;
    }
    li {
      padding: 2px 10px 10px 9px;
      background-color: #fafafa;
      margin-bottom: 10px;
      border-left: 4px solid #0071bc;
      list-style: none !important;
      &:hover {

      }

    }

    li a img {
      float: right;

    }

  }

}

.section-footer {
  color: #fff;
  min-height: 150px;
  padding: 30px 0;
  background-color: #646464;

}

.footer {
  color: #f7f7f7;
  h5 {
    font-weight: 600;
    font-size: 14px;
  }

  p {
    font-size: 12px;
    color: #f7f7f7;
    font-weight: 600;
  }

  p a {
    color: rgb(172, 180, 246) !important;
    text-decoration: none;
  }

  svg {
    fill: #f7f7f7;
    padding-right: 5px;
  }
}

.footer-license {
  padding: 15px 0;
}

img.footer-logo {
  height: 60px;

}

.district-label {
  margin-top: -30px;
  span {
    background: #ff5252;
    padding: 5px;
    font-size: 21px;

  }
}


.section-page {
  h3 {
    margin: 0;
  }
  margin-top: 140px;
  margin-bottom: 40px;
}

.default-background {
  background-color: $default-background-color;
}
#data-table{
  th{
    padding-top: 8px;
padding-bottom: 8px;
background-color: #ff5252;
color: white;
  }

}
#dataset-search{
  margin-bottom: 10px;
}


.sidebar {
  margin-bottom: 80px;
  border-left: 1px solid rgba(0, 0, 0, .1);
  padding-left: 3%;
}

.sidebar-widget {
  margin-bottom: 20px;
}

.sidebar-widget {

  .widget-title {
    font-size: 23px;
    font-weight: bold;
    margin: 0;
    font-weight: bold;
    border-bottom: solid #ff0000 2px;
    padding-bottom: 4px;
    width: 70%;
  }

  ul, ol {
    list-style: none outside none;
    padding: 0;
  }

  ul > li, ol > li {
    padding: 10px 0;
    border-bottom: 1px dashed rgba(0, 0, 0, .1);
  }

  ul > li:last-child, ol > li:last-child {
    border-bottom: 0;
  }

  ul a, ol a {
    color: $text-color;
    text-decoration: none;
    -webkit-transition-duration: .25s;
    -moz-transition-duration: .25s;
    -ms-transition-duration: .25s;
    -o-transition-duration: .25s;
    transition-duration: .25s;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -ms-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    
    &:hover {
      color: $link-color;
      cursor: pointer;
    }
  }

  a i {
    padding-right: 10px;
  }

}

table th {
  text-align: left;
}

.btn-download {
  background-color: #df3332;
  border: 2px solid #fff;
  color: #fff;
  transition-duration: .25s;
  transition-property: all;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-duration: .25s;
  -moz-transition-duration: .25s;
  -ms-transition-duration: .25s;
  -o-transition-duration: .25s;
}

.btn-download:focus, .btn-download:hover {
  border: 2px solid #000;
  background-color: rgba(0, 0, 0, 0);
}
.form-label{
background: #0071bc;
padding: 5px;
font-size: 17px;
  font-weight: 600;
color: #fff;
border-top-right-radius: 8px;
}

.filter-form{
  background:#0071bc;
  padding: 15px 0 10px 20px ;
  margin-bottom: 4px;

}
.data-filter{
  select.form-control,.btn{
    margin-right: 10px;
    margin-bottom: 10px;
  }

}

@import "responsive";

